@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    ### User Management System Privacy Policy

    At User Management System, we are committed to protecting
    your privacy and ensuring the security of your personal information.
    Our privacy policy outlines how we collect, use, and safeguard your data.
    We collect personal information only when necessary to provide our services, 
    such as when you register or update your user profile.We implement industry-standard
    security measures to protect your data from unauthorized access, disclosure, or misuse. 
    We do not share your personal information with third parties except as required by law or
    with your explicit consent. By using our system, you agree to the terms of this privacy policy,
    which may be updated periodically to reflect changes in our practices or legal requirements.

</p>
